<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Report</title>
</head>
<body>
    <h1>Create New Report:</h1>
    <form method="post" action="/reports/create">
        <button>Add</button>
    </form>
</body>
</html>