<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <div>
        <h1>Welcome To MotherLine</h1>
        <form method="get" action="/report/show">
            <button>View Report</button>
        </form>
        <form method="get" action="/report/create">
            <button>Add Report</button>
        </form>
        
    </div>
</body>
</html>