<body>
    <div class="card">
        <h1>Medical Report:</h1>
        <p>Title: <%= report.title %></p>
        <p>Description: <%= report.description %></p>
        <p>File Url: <%= report.file.url %></p>
        <p>Uploaded At: <%= report.uploadedAt %></p>
    </div>
</body>