<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Report</title>
</head>
<body>
    <h1>All reports:</h1>
    <form method="get" action="/report/edit">
        <button>Edit</button>
    </form>
    <form method="get" action="/report/delete">
        <button>Delete</button>
    </form>
</body>
</html>