<% layout('/layouts/boilerplate') -%>
<body>
  <h1>Activity Details</h1>

  <p><%= activities.baby.username %></p>
  <p><%= activities.caregiver.username %></p>
  
  <a href="/activities">â† Back to Activities</a>
</body>
