<% layout("layouts/boilerplate") %>

<h2>Upload Hospital Bill</h2>

<% if (user) { %>
  <p>Logged in as: <%= user.username %> (<%= user.email %>)</p>
<% } %>

<form action="/bills/upload" method="POST" enctype="multipart/form-data">

  <label for="patientName">Patient Name</label><br>
  <input type="text" id="patientName" name="patientName" required><br><br>

  <label for="totalAmount">Total Amount (₹)</label><br>
  <input type="number" id="totalAmount" name="totalAmount" required><br><br>

  <label for="rawText">Raw Bill Text</label><br>
  <textarea id="rawText" name="rawText" rows="2" required></textarea><br><br>

  <label for="analysis">Bill Analysis</label><br>
  <textarea id="analysis" name="analysis" rows="2" required></textarea><br>

  <label for="fileUrl" class="form-label">Cloudinary File URL</label>
      <input 
        type="url" 
        id="fileUrl" 
        name="fileUrl" 
        class="form-control" 
        placeholder="https://res.cloudinary.com/.../bill.pdf" 
        required>

  <button type="submit">Upload Bill</button>
  <br>
  <a href="/bills/view">Back to Bills</a>
</form>
