<% layout('/layouts/boilerplate') -%>
<body>
    <h1>Create Pregnancy Timeline</h1>
    <p>Timeline for pregnancy does not exist please create new TimeLine</p>
    <form action="/timeline/create" method="POST">
        <label>Pregnancy Start Date:</label>
        <input type="date" name="pregnancyStartDate" required>
        <button type="submit">Create</button>
    </form>
    <a href="/timeline">Back</a>

</body>
