<% layout('/layouts/boilerplate') -%>
<body>
    <h1>All Events</h1>
    <div class="timeline">
    <% if (timeline && timeline.events && timeline.events.length > 0) { %>
      <% timeline.events.forEach(event => { %>
        <div class="event">
          <span class="dot"></span>
          <div class="content">
            <h3><%= event.title %></h3>
            <p><%= event.description %></p>
            <p><%= event.eventDate %></p>
            <form method="POST" action="/timeline/<%= timeline.id %>/delete?_method=DELETE">
              <button>Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p>No events found for this timeline.</p>
    <% } %>
  </div>

</body>
