    <% layout('/layouts/boilerplate') -%>
    <div class="body">
    <h1>Welcome Back!</h1>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input 
            id="username"
            type="text" 
            name="username" 
            placeholder="Username" 
            required>
        <br/>
        <label for="password">password:</label>
        <input 
            id="password"
            type="password" 
            name="password" 
            placeholder="password" 
            required>
        <br/>
        <label for="role">Select Role</label>
            <select name="role" id="role" required>
                <option value="">Select Role</option>
                <option value="mother" selected>Mother</option>
                <option value="caregiver">Caregiver</option>
                <option value="doctor">Doctor</option>
                <option value="baby">Baby</option>
                <option value="admin">Admin</option>
            </select>
        <br/>
        <button type="submit">Login</button>
    </form>
    </div>