<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Report</title>
    <link rel="stylesheeet" href="/css/style.css">
</head>
<body>
    <div class="body">
        <h1> Welcome to MotherLine </h1>
        <p>A smart platform to track your pregnancy, store medical reports, and stay informed. </p>
        <br>
        <h3>Create an Account:</h3>
        <form method="POST" action="/signUp">
            <label for="username">Username:</label>
            <input 
                type="text" 
                name="username" 
                placeholder="Enter Username" 
                id="username"
                required
                >
            <br/>
            <label for="password">Password:</label>
            <input 
                type="password" 
                name="password" 
                id="password" 
                required
                >
            <br/>
            <label for="email">Email:</label>
            <input 
                id="email"
                type="email" 
                name="email" 
                placeholder="Enter Email" 
                required>
            <br/>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account?</p>
        <a href="/login">Login here</a>
    </div>
</body>
</html>