<% layout('/layouts/boilerplate') -%>
<body>
    <div class="body">
        <h3>Create an Account:</h3>
        <form method="POST" action="/signUp">
            <label for="username">Username:</label>
            <input 
                type="text" 
                name="username" 
                placeholder="Enter Username" 
                id="username"
                required
                >
            <br/>
            <label for="password">Password:</label>
            <input 
                type="password" 
                name="password" 
                id="password" 
                required
                >
            <br/>
            <label for="email">Email:</label>
            <input 
                id="email"
                type="email" 
                name="email" 
                placeholder="Enter Email" 
                required>
            <br/>
            <label for="role">Select Role</label>
                <select name="role" id="role" required>
                    <option value="">Select Role</option>
                    <option value="mother" selected>Mother</option>
                    <option value="caregiver">Caregiver</option>
                    <option value="doctor">Doctor</option>
                    <option value="baby">Baby</option>
                    <option value="admin">Admin</option>
                </select>
            <br/>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account?</p>
        <a href="/login">Login here</a>
    </div>
</body>